/*
 
 File: genes_lookup.less
 Desc: genes_lookup.tmpl style sheets
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: May 23th, 2014
 
 * */
.gene-list-wrapper ul > li {
  padding-left: 10px;
  font-weight: 600;
}
