/*
 
 File: superphy_ticker.less
 Desc: Stylesheet for Ticker object tables.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 21th, 2013
 
 * */


/** Table *********************************/

.superphy_ticker_table {
  
  td,th {
    padding: 5px;
    text-align: center;
    .borderStyle;
  }
  
}

.histobar {
  
  rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }
  
  text {
    fill: #000;
    font-size: 9pt;
  }
  
}

.axis {
  path, line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
}
