<div id="myCarousel" class="carousel slide container">
	<!-- Carousel items -->
	<div class="carousel-inner" style="background-color:#FFFFFF">
		<div class="active item" align="middle">
			<img src="/App/Pictures/superphy_logo.png" alt="header" height="300px">
			<div class="carousel-caption"><p>Public Health Agency of Canada</p></div>
		</div>
		<div class="item" align="middle">
			<a href="/strain-info/strain_info"><img src="/App/Pictures/new_header.png" alt="header" height="300px"></a>
			<div class="carousel-caption"><a href="/strain-info/strain_info"><p>Look up detailed information about a particular E. coli strain</p></a></div>
		</div>
		<div class="item" align="middle">
			<a href="/group-wise-comparisons/group_wise_comparisons"><img src="/App/Pictures/new_header.png" alt="header" height="300px"></a>
			<div class="carousel-caption"><a href="/group-wise-comparisons/group_wise_comparisons"><p>View a detailed group based analysis of E. coli strains</p></a></div>
		</div>
		<div class="item" align="middle">
			<a href="/virulence-factors/virulence_factors"><img src="/App/Pictures/new_header.png" alt="header" height="300px"></a>
			<div class="carousel-caption"><a href="/virulence-factors/virulence_factors"><p>View virulence and antimicrobial resistance determinants of E. Coli strains</p></a></div>
		</div>
		<div class="item" align="middle">
			<a href="/user/login"><img src="/App/Pictures/new_header.png" alt="header" height="300px"></a>
			<div class="carousel-caption"><a href="/user/login"><p>Log in to upload and perform anaylses on your own genomes</p></a></div>
		</div>
	</div>
	<!-- Carousel nav-->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script>
$('.carousel').carousel();
</script>