<!DOCTYPE html>
<html>

<head>
	<TMPL_INCLUDE NAME="header.tmpl">

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<!-- Table Filter -->
	<script type="text/javascript" src="/superphy/App/Styling/js/tablefilter.js"></script>

</head>

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body style="background-color:#796e6c">

	<div class="container" style="background-color:#FFFFFF">
		<div class="row-fluid">

			<div class="span12" style="margin-bottom:20px">
				<h1>GROUPWISE RESULTS PAGE</h1>
				<span class="help-block">
					Total analysis time was : <TMPL_VAR run_time> seconds.
				</span>
			</div>

			<div class="tabbable">

				<ul class="nav nav-tabs">
					<li class="active"><a href="#loci_table" id="loci_results_button" data-toggle="tab">Loci Presence Absence</a></li>
					<li><a href="#snps_table" id="snp_results_button" data-toggle="tab">SNP Presence Absence</a></li>
					<TMPL_IF geospatial><li><a href="#geo-spatial" id="geospatial_results_button" data-toggle="tab">Geospatial Results</a></li></TMPL_IF>
				</ul>

				<div class="tab-content">

					<div class="tab-pane active" id="loci_table" style="padding:5px">
						<caption><h3>Binary FET Results</h3></caption>
						<span class="help-block">There were a total of <TMPL_LOOP binaryFETResults><TMPL_VAR sig_count></TMPL_LOOP> significant difference(s) detected from <TMPL_LOOP binaryFETResults><TMPL_VAR total_comparisons></TMPL_LOOP> total comaprisons.</span>
						<p>The following table outputs only comparisons with <strong>significant</strong> differences between your selected groups (to view all comparisons made, download the .txt file provided in the link below). You can filter through the data table displayed on this page by providing search criteria in the input boxes above each column. For example, to only show significant differences with a p-value of less than 0.01, simply type in &lt;0.01 in the input box above the p-value column and hit enter.</p>
						<p><a href="/temp/<TMPL_LOOP binaryFETResults><TMPL_VAR file_name></TMPL_LOOP>" download="loci_presence_absence.txt">Click here</a> to download a tab-delimited .txt file of all comparisons made.</p>
						<div class="row-fluid">
							<div class="span6" style="border:solid;border-width:1px;border-color:#d3d3d3;padding:10px;height:200px">
								<div style="max-height:150px;overflow:auto">
									<span class="help-block">Group 1: </span>
									<ul>
										<TMPL_LOOP binaryFETResults>
										<TMPL_LOOP gp1_names>
										<li><TMPL_VAR name></li>
										</TMPL_LOOP>
										</TMPL_LOOP>
									</ul>
								</div>
							</div>

							<div class="span6" style="border:solid;border-width:1px;border-color:#d3d3d3;padding:10px;height:200px">
								<div style="max-height:150px;overflow:auto">
									<span class="help-block">Group 2: </span>
									<ul>
										<TMPL_LOOP binaryFETResults>
										<TMPL_LOOP gp2_names>
										<li><TMPL_VAR name></li>
										</TMPL_LOOP>
										</TMPL_LOOP>
									</ul>
								</div>
							</div>
						</div>
						<table id="table1" class="table table-condensed">
							<thead>
								<tr>
									<th>Locus ID</th>
									<th>Function</th>
									<th>Group 1 Present</th>
									<th>Group 1 Absent </th>
									<th>Group 2 Present</th>
									<th>Group 2 Absent</th>
									<th>p-value</th>
								</tr>
							</thead>
							<tbody>
								<TMPL_LOOP binaryFETResults>
								<TMPL_LOOP sig_results>
								<tr>
									<td id="<TMPL_VAR marker_id>" feature_id="<TMPL_VAR marker_feature_id>" type="locus_marker"><TMPL_VAR NAME="marker_id"></td>
									<td><TMPL_VAR NAME="marker_function"></td>
									<td><TMPL_VAR NAME="group1Present"></td>
									<td><TMPL_VAR NAME="group1Absent"></td>
									<td><TMPL_VAR NAME="group2Present"></td>
									<td><TMPL_VAR NAME="group2Absent"></td>
									<td><TMPL_VAR NAME="pvalue"></td>
								</tr>
								</TMPL_LOOP>
								</TMPL_LOOP>
							</tbody>
						</table>
					</div>

					<div class="tab-pane" id="snps_table" style="padding:5px">
						<caption><h3>SNP FET Results</h3></caption>
						<span class="help-block">There were a total of <TMPL_LOOP snpFETResults><TMPL_VAR sig_count></TMPL_LOOP> significant difference(s) detected from <TMPL_LOOP snpFETResults><TMPL_VAR total_comparisons></TMPL_LOOP> total comaprisons.</span>
						<p>The following table outputs only comparisons with <strong>significant</strong> differences between your selected groups (to view all comparisons made, download the .txt file provided in the link below). You can filter through the data table displayed on this page by providing search criteria in the input boxes above each column. For example, to only show significant differences with a p-value of less than 0.01, simply type in &lt;0.01 in the input box above the p-value column and hit enter.</p>
						<p><a href="/temp/<TMPL_LOOP snpFETResults><TMPL_VAR file_name></TMPL_LOOP>" download="snp_presence_absence.txt">Click here</a> to download a tab-delimited .txt file of all comparisons made.</p>
						<div class="row-fluid">
							<div class="span6" style="border:solid;border-width:1px;border-color:#d3d3d3;padding:10px;height:200px">
								<div style="max-height:150px;overflow:auto">
									<span class="help-block">Group 1: </span>
									<ul>
										<TMPL_LOOP snpFETResults>
										<TMPL_LOOP gp1_names>
										<li><TMPL_VAR name></li>
										</TMPL_LOOP>
										</TMPL_LOOP>
									</ul>
								</div>
							</div>

							<div class="span6" style="border:solid;border-width:1px;border-color:#d3d3d3;padding:10px;height:200px">
								<div style="max-height:150px;overflow:auto">
									<span class="help-block">Group 2: </span>
									<ul>
										<TMPL_LOOP snpFETResults>
										<TMPL_LOOP gp2_names>
										<li><TMPL_VAR name></li>
										</TMPL_LOOP>
										</TMPL_LOOP>
									</ul>
								</div>
							</div>
						</div>

						<table id="tableSNP" class="table table-condensed">
							<thead>
								<tr>
									<th>SNP ID</th>
									<th>Function</th>
									<th>Nucleotide</th>
									<th>Group 1 Present</th>
									<th>Group 1 Absent</th>
									<th>Group 2 Present</th>
									<th>Group 2 Absent</th>
									<th>p-value</th>
								</tr>
							</thead>
							<tbody>
								<TMPL_LOOP snpFETResults>
								<TMPL_LOOP sig_results>
								<tr>
									<td id="<TMPL_VAR marker_id>" feature_id="<TMPL_VAR marker_feature_id>" type="snp_marker"><TMPL_VAR marker_id></td>
									<td><TMPL_VAR NAME="marker_function"></td>
									<td><TMPL_VAR NAME="test_char"></td>
									<td><TMPL_VAR NAME="group1Present"></td>
									<td><TMPL_VAR NAME="group1Absent"></td>
									<td><TMPL_VAR NAME="group2Present"></td>
									<td><TMPL_VAR NAME="group2Absent"></td>
									<td><TMPL_VAR NAME="pvalue"></td>
								</tr>
								</TMPL_LOOP>
								</TMPL_LOOP>
							</tbody>
						</table>
					</div>

					<div class="tab-pane" id="geo-spatial" style="padding:5px">
						Map stuff will go here
					</div>

				</div>

			</div>

		</div>
	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

<script type="text/javascript">
/*	if (document.getElementById('table1').rows.length > 2) {
		setFilterGrid("table1");
	}

	if (document.getElementById('tableSNP').rows.length > 2) {
		setFilterGrid("tableSNP");
	}*/

/*	$('#loci_results_button').click( function(event) {
		event.preventDefault();
		$('#snps_table').hide();
		$('#loci_table').show();
	});

	$('#snp_results_button').click( function(event) {
		event.preventDefault();
		$('#loci_table').hide();
		$('#snps_table').show();
	});*/

$( document ).ready( function() {
	var gp1genomes = "<TMPL_LOOP binaryFETResults><TMPL_LOOP gp1_ids>"+'&gp1genome='+"<TMPL_VAR id></TMPL_LOOP></TMPL_LOOP>";
	var gp2genomes = "<TMPL_LOOP binaryFETResults><TMPL_LOOP gp2_ids>"+'&gp2genome='+"<TMPL_VAR id></TMPL_LOOP></TMPL_LOOP>";

	var locus = $('td[type="locus_marker"]');

	locus.each( function() {
		$(this).append('<a href="/superphy/group-wise-comparisons/view?locus='+$(this).attr('feature_id')+gp1genomes+gp2genomes+'"> <i class="icon-search"></i> info</a>');
	});

	var snp = $('td[type="snp_marker"]');

	snp.each( function() {
		$(this).append('<a href="/superphy/group-wise-comparisons/view?snp='+$(this).attr('feature_id')+gp1genomes+gp2genomes+'"> <i class="icon-search"></i> info</a>');
	});

});

</script> 

</html>
