<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body>

	<h1>Your results will be emailed to you</h1>

	<p>Due to the large number of comparisons you have requested we will notify you when your results are ready at your specified email: <TMPL_VAR NAME="email_address">. Results from your comparisons will be attached in a detailed .txt file. In the meantime, you can continue using SuperPhy for other tasks.</p>

	<p><a href="/superphy/home">Click here</a> to go back to SuperPhy's home page.</p>

</body>
</html>
</script>
