<nav id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
  	<ul class="nav navbar-nav">
		<li id="statistics"><a href="/superphy/statistics/stats"><small>Statistics</small></a></li>
		<li id="contact"><a href="/superphy/home"><small>Contact</small></a></li>
	</ul>
	<img class="pull-right" src="/App/Pictures/white_agency_logo" style="padding:0.5%">
  </div> <!-- .container -->
</nav>
