<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header2.tmpl">

<script type="text/javascript">
var page_name = "genome-uploader"
</script>

<body>

	<TMPL_INCLUDE NAME="superphy_nav_bar.tmpl">
	
	<div class="container">

		<div class="content-header">
			<h1>
				<span class="title_part1">FORGOT</span> <span class="title_part2"> PASSWORD</span>
			</h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">

				<form class="form-horizontal" role="form" action="<TMPL_VAR rm>" method="post">

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-8">
							<p>Enter your username and a new password will be emailed to you.</p>
						</div>
					</div>

					<fieldset>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputUsername">Username</label>
							<div class="col-sm-8">
								<input id="inputUsername" class="form-control" type="text" placeHolder="Username" name="u_username" size="15" maxlength="20" value="<TMPL_VAR u_username>" />
								<TMPL_VAR err_u_username>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-8">
								<input type="submit" class="btn btn-primary" value="Email new password" />
							</div>
						</div>

					</fieldset>

				</form>

			</div>
		</div>

	</div>
	
	<script>document.forms[0].u_username.focus()</script>

</body>

</html>	
