<!DOCTYPE html>
<html>

<head>

	<TMPL_INCLUDE NAME="header2.tmpl">
	<link rel="stylesheet" href="/superphy/App/Styling/css/genes_lookup.css">
	<link rel="stylesheet" href="/superphy/App/Styling/css/genes_search.css">
	<script src="/superphy/App/Lib/js/genes_search.js"></script>
	<script src="/superphy/App/Styling/js/intro.js-0.9.0/intro.min.js"></script>
	<link rel="stylesheet" href="/superphy/App/Styling/css/intro.js-0.9.0/introjs.min.css">
	<script src="/superphy/App/Lib/js/intro_genes_lookup.js"></script>
	<script src="/superphy/App/Lib/js/superphy.js"></script>
	
	<script>var page_name = 'genes';</script>
	
</head>

<body>

	<TMPL_INCLUDE NAME="page_top.tmpl">
	
	<div class="intro">
		<p>Lookup detailed information on individual <a href="#vfgenes">virulence factor</a> or <a href="#amrgenes">antimicrobial resistance genes</a>.</p>
	</div>
	
	
	<div id="search">
			
		<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4 class="panel-title">Virulence Factors</h4>
  		</div>
  		<div id="vfgenes" class="panel-body">
  		
		 	<div class="row">
	 		<div class="gene-search-control-row">
				<div class="col-md-3">
					<input id="vf-autocomplete" type="text" class="form-control" placeholder="Filter virulence factors in list"/>
				</div>
					
			</div>
			</div>
		
			<div class="row">
			<div class="col-md-6">
				<div class="gene-list-wrapper">
				<fieldset>
					<span>Select virulence factor:</span>
					<ul id="vf-list">
					</ul>
				</fieldset>
				</div>
			</div>
			<div class="col-md-6">
				<div id="vf-categories" class="gene-category-wrapper">
				</div>
			
			</div>
			</div>
			
		</div>
		</div>
			
		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Antimicrobial Resistance Genes</h4>
		</div>
		<div id="amrgenes" class="panel-body">
			
				
	 		<div class="row">
	 		<div class="gene-search-control-row">
				<div class="col-md-3">
					<input id="amr-autocomplete" type="text" class="form-control" placeholder="Filter AMR genes in list"/>
				</div>
					
			</div>
			</div>
		
			<div class="row">
			<div class="col-md-6">
				<div class="gene-list-wrapper">
				<fieldset>
					<span>Select AMR gene:</span>
					<ul id="amr-list">
					</ul>
				</fieldset>
				</div>
			</div>
			<div class="col-md-6">
				<div id="amr-categories" class="gene-category-wrapper">
				</div>
			</div>
			</div>
			
		</div>
		</div>
			
			
	</div>
		
	
	<TMPL_INCLUDE NAME="page_bottom.tmpl">

	<script type="text/javascript">	
		// Initialise JSON data objects
		var vf = <TMPL_VAR vf>;
		var amr = <TMPL_VAR amr>;
		var categories = <TMPL_VAR categories>;
		
		// Gene selection form
		
		// Initialisation
		var vfData = initGeneList(vf, 'vf', categories.vfCats, $('#vf-list'), $('#vf-selected'), $('#vf-selected-count'), $('#vf-categories'), $('#vf-autocomplete'), false);
		var amrData = initGeneList(amr, 'amr', categories.amrCats, $('#amr-list'), $('#amr-selected'), $('#amr-selected-count'), $('#amr-categories'), $('#amr-autocomplete'), false);
		appendGeneList(vfData);
		appendCategories(vfData);
		appendGeneList(amrData);
		appendCategories(amrData);
		
		$('#vf-autocomplete').keyup(function () {
			filterGeneList(vfData);	
		});
		
		$('#amr-autocomplete').keyup(function () {
			filterGeneList(amrData);	
		});
		
		
	</script>
	
	
</body>

</html>
