<style type="text/css">
	#attr-search-display li {
		list-style:none;
	}
	input.selected-attr-genome {
		display: none;
	}
	label.selected-attr-genome {
		font-weight:bold;
		font-style:italic;
		fill: #796e6c;
	}
</style>