 	<div id="map-selector" style="display:none">
		<!--div id="coordinates">
			<input type="text" class="input-xxlarge" name="g_location_latlng" id="inputLocationLatLng" readonly>
		</div-->
	</div>

	<script type="text/javascript">

	viewController.createView('map', $('#map-selector'), ['dot']);
	
	</script>