<!-- List, Tree and Map Tabs for Genome Selection -->

<!--div id="genome_selection_window">
	<ul id="gs_tabs" class="nav nav-tabs">
		<li class="active"><a href="#strains_table" data-toggle="tab">Genome List</a></li>
		<li><a href="#strains_tree" data-toggle="tab">Phylogenetic Tree</a></li>
		<li><a href="#strains_map" data-toggle="tab">Geospatial View</a></li>
	</ul>
	<div id="gs_content" class="tab-content">
		<div class="tab-pane superphy-list active" id="strains_table">
		</div>
	  	<div class="tab-pane" id="strains_tree">
	  	</div>
		<div class="tab-pane" id="strains_map">
	    </div>
    </div>
</div-->

<!-- List, Tree and Map Panels for Genome Selection -->
<div class="panel-group genome-search" id="accordian">

	<!-- Collapsible table panel -->
	<div class="panel panel-default">
		<div class="panel-heading" id="genomelist-panel-header">
			<h4 class="panel-title">
				<a href="#genomelist-panel">
					Genome List
				</a>
			</h4>
		</div>
		<div id="genomelist-panel" class="panel">
			<div class="panel-body">
				<div id="strains_table"></div>
			</div>
		</div>
	</div>
	<!-- end of table panel -->

	<!-- Collapsible tree panel -->
	<div class="panel panel-default">
		<div class="panel-heading" id="phylogeny-panel-header">
			<h4 class="panel-title">
				<a href="#phylogeny-panel">
					Phylogenetic Tree
				</a>
			</h4>
		</div>
		<div id="phylogeny-panel" class="panel">
			<div class="panel-body">
				<div id="strains_tree"></div>
			</div>
		</div>
	</div>
	<!-- end of tree panel -->

	<!-- Collapsible map panel -->
	<div class="panel panel-default">
		<div class="panel-heading" id="geospatial-panel-header">
			<h4 class="panel-title">
				<a href="#geospatial-panel">
					Geospatial Search
				</a>
			</h4>
		</div>
		<div id="geospatial-panel" class="panel">
			<div class="panel-body">
				<div id="strains_map"></div>
			</div>
		</div>
	</div>
	<!-- end of map panel -->

</div>