<!DOCTYPE html>
<html>
<head>
	
	<TMPL_INCLUDE NAME="header.tmpl">

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<!-- Google Maps -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDfsRetldM0eW0vVemFKt48xYaZwKQACY&sensor=true"></script>
	<script type="text/javascript" src="/superphy/App/Styling/js/genodo_map_functions.js"></script>
	<script type="text/javascript" src="/superphy/App/Styling/js/markerclusterer.js"></script>

</head>

<body style="background-color:#796e6c" onload="showMap()">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<div class="container" style="background-color:#FFFFFF;">

		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#geospatial" data-toggle="tab">Geospatial Comparisons</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="geospatial" style="padding:5px">
					<span class="help-block">Note: The map only shows strains with a location. Not all selected strains will appear on the map.</span>
					<div class="row-fluid">
						<!--div class="span6" style="height:400px;border-style:solid;border-width:1px;border-color:#d3d3d3">
							<p>Tree goes here</p>
						</div-->
						<div class="span6">
							<table>
								<tr>
									<div id="map-canvas" style="height:400px;border-style:solid;border-width:1px;border-color:#d3d3d3"></div>
									<div class="row-fluid">
										<div class="span6"><img src="/superphy/App/Pictures/genodo_measle_red.png"> Group 1</div>
										<div class="span6"><img src="/superphy/App/Pictures/genodo_measle_blue.png"> Group 2</div>
									</div>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

<TMPL_IF geospatial>
<script type="text/javascript">
var public_genomes = <TMPL_VAR public_genomes>;
var private_genomes = <TMPL_VAR private_genomes>;
var group1 = <TMPL_VAR group1>;
var group2 = <TMPL_VAR group2>;
var genomeLabels = {};

var group1Genomes = {};
var group2Genomes = {};
var group1LocationGenomes = {};
var group2LocationGenomes = {};

var group1MultiMarkers = {};
var group2MultiMarkers = {};
var mapFactory;
var map;

$.each(group1, function(index, object) {
	if (public_genomes[index]) {
		group1Genomes[index] = public_genomes[index];
	}
	else if (private_genomes[index]) {
		group1Genomes[index] = private_genomes[index];
	}
	else {}
});

$.each(group2, function(index, object) {
	if (public_genomes[index]) {
		group2Genomes[index] = public_genomes[index];
	}
	else if (private_genomes[index]) {
		group2Genomes[index] = private_genomes[index];
	}
	else {}
});

//Initialize map

function showMap() {
	var mapOptions = {
		center: new google.maps.LatLng(-0.000, 0.000),
		zoom: 1,
		streetViewControl: false,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	mapFactory = new Map(mapOptions, "map-canvas");
	map = mapFactory.initializeMap();

	var group1lists = mapFactory.addMultiMarkers(group1Genomes, group1LocationGenomes, map, "");
	group1MultiMarkers = group1lists[0];
	var group1ClusterList = group1lists[1];

	var mcOptions = {gridSize: 50, maxZoom: 15};
	var mc = new MarkerClusterer(map, group1ClusterList, mcOptions);


	var group2lists = mapFactory.addMultiMarkers(group2Genomes, group2LocationGenomes, map, "", "/superphy/App/Pictures/genodo_measle_blue.png");
	group2MultiMarkers = group2lists[0];
	var group2ClusterList = group2lists[1];

	var mc2 = new MarkerClusterer(map, group2ClusterList, mcOptions);
}

</script>
</TMPL_IF>

</html>
