<!DOCTYPE html>
<html>

<head>

    <TMPL_INCLUDE NAME="header2.tmpl">
    <link rel="stylesheet" href="/superphy/App/Styling/css/superphy_menu.css">
    <script type="text/javascript" src="/superphy/App/Lib/js/superphy_user_groups.js"></script>
    <script type="text/javascript">
    var page_name = "geophy";
    </script>
    <script src="/superphy/App/Styling/js/intro.js-0.9.0/intro.min.js"></script>
    <link rel="stylesheet" href="/superphy/App/Styling/css/intro.js-0.9.0/introjs.min.css">
    <script src="/superphy/App/Lib/js/intro_groups_geophy.js"></script>
    <script src="/superphy/App/Lib/js/superphy.js"></script>
    <script src="/superphy/App/Lib/js/superphy_user_groups.js"></script>
    <script>
    $(function() {
        $("#tabs").tab();
    });
    </script>

    <style type="text/css">
    input[type=checkbox] {
        float: left;
        margin-right: 0.4em;
    }
    .cluster {
        /*display: none;*/
    }
    </style>
    
</head>

<body>

    <TMPL_INCLUDE NAME="page_top.tmpl">

    <div id="geophy-control"></div>

    <div class="row" id="groups-geophy-top">
        <div class="col-md-12 summary-panel" id="groups_summary">
            <ul id='tabs' class='nav nav-tabs sel-group-tab' data-tabs='tabs'>
                <li class='active'><a href="#selection-tab" data-toggle='tab'>Selection</a></li>
                <li><a href="#active-group-tab" data-toggle='tab'>Active Group</a></li>
            </ul>
            <div id='summary-tabs' class='tab-content meta-summary' >
                <div id="selection-tab" style='padding:20px' class='tab-pane active'>
                    <div id="selection-info"></div>
                    <div class="row">
                        <div class="col-md-2" style="padding-top:30px">
                            <div id="selection-buttons"></div>
                        </div>
                        <div class="col-md-10">
                            <div id="selection-svg" style="width:100%;"></div>
                        </div>
                    </div>
                </div>
                <div id="active-group-tab" style='padding:20px; width:100%' class='tab-pane'>
                    <div id="active-group-info"></div>
                    <div class="row">
                        <div class="col-md-2" style="padding-top:30px">
                            <div id="active-group-buttons"></div>
                        </div>
                        <div class="col-md-10">
                            <div id="active-group-svg" style="width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7" id="groups-geophy">
        <div class="row" id="groups-geophy-map">
            <div class="col-md-12" id="groups_map" style="padding-right:0px;padding-left:0px"></div>
            <!-- <div class="col-md-3" id="maps_table" style="padding-top:79px;padding-left:0px"></div> -->
        </div>
        <div class="row" id="groups-geophy-table">
            <div class="col-md-12" id="groups_table" style="padding-left:0px;padding-top:20px"></div>
        </div>
    </div>
    <div class="col-md-5" id="groups-geophy2">
        <div id="groups_tree" style="padding-top:30px"></div>
    </div>



    <!-- <div class="row" id="groups-geophy">
        <div class="col-md-7">
            <div class="col-md-9" id="groups_map"></div>
            <div class="col-md-3" id="maps_table" style="padding-top:80px"></div>
        </div>
        <div class="col-md-5" id="groups_tree" style="padding-top:30px"></div>
    </div>
    <div class="row" id="groups-geophy-2">
        <div class="col-md-6" id="groups_table"></div>
    </div> -->

    <TMPL_INCLUDE NAME="page_bottom.tmpl">

</body>


<script type="text/javascript">
var public_genomes = <TMPL_VAR public_genomes>;
var private_genomes = <TMPL_VAR  private_genomes>;
var tree = <TMPL_VAR tree_json>;
var username ="<TMPL_VAR username>";
var user_groups = <TMPL_VAR user_groups>;

var geophy = new GeoPhy(public_genomes, private_genomes, viewController, null, $('#groups_tree'), $('#groups_map'), $('#groups_summary'), $('#groups_table'), $('#maps_table'));

geophy.init(false);

var user_groups_menu = new UserGroups(user_groups, username, $('.user-groups-menu'), viewController, public_genomes, private_genomes);

$(document).ready( function () {    
    $('.map-manifest-wrapper').removeClass('col-md-6').addClass('col-md-12');
    $('.map-search-wrapper').removeClass('col-md-6').addClass('col-md-12');
    //Removed the dl view for now. Need to set the styling properly on this
    $('.download-view').empty();
});


//Set the clear filter button to clear out selected groups as well
$('#remove-filter').on('click', function(){
    $('#geophy-control-panel-body').empty();
    //user_groups_menu.appendGroupForm(user_groups)
    //user_groups_menu.processUserGroups(user_groups);
});

</script>

</html>
