	<link rel="stylesheet" href="/superphy/App/Styling/css/jquery-ui-1.10.3.custom.css">

	<script src="/superphy/App/Styling/js/jquery/jquery-1.11.1.min.js"></script>
	<script src="/superphy/App/Styling/js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

	<script src="/superphy/App/Styling/js/bootstrap-3.1.1/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/superphy/App/Styling/css/bootstrap-3.1.1/bootstrap.min.css">
	
	<script src="/superphy/App/Styling/js/d3.v3/d3.v3.js" charset="utf-8"></script>

	<script type="text/javascript" src="/superphy/App/Styling/js/selectize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/superphy/App/Styling/css/selectize.bootstrap3.css" />

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0u9jfoY0r61ho7q03kopUM57W975RgDs&sensor=true"></script>
	<script type="text/javascript" src="/superphy/App/Styling/js/markerclusterer.js"></script>

	<script src="/superphy/App/Lib/js/superphy.js"></script>
	<link rel="stylesheet" href="/superphy/App/Styling/css/font-awesome-4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="/superphy/App/Styling/css/superphy.css">
