<!-- Page Bottom -->

</div>
</div>
</div>
</div>
</div>
</div>
<script>
//Left sidebar
$("#sidebar-expand").click(function(e) {
	e.preventDefault();
	$("#wrapper").toggleClass("active");
	$(this).hide();
	$("#sidebar-collapse").show();
});
$("#sidebar-collapse").click(function(e) {
	e.preventDefault();
	$("#wrapper").toggleClass("active");
	$("#sidebar-expand").show();
	$(this).hide();
});
</script>

