<!-- Page Top -->

<TMPL_INCLUDE NAME="superphy_nav_bar.tmpl">

<div id="wrapper">

	<div id="sidebar-wrapper">
		<div class="sidebar">
			<div id="sidebar-expand-collapse">
				<button id="sidebar-expand" class="btn btn-default"><i class="fa fa-angle-double-right"></i></button>
				<button id="sidebar-collapse" class="btn btn-default"><i class="fa fa-angle-double-left"></i></button>
			</div>
			<div class="superphy-side-menu"></div>
			<!-- Deprecated, set for deletion -->
			<!--div class="user-groups-menu"></div-->
			<div id="search-utilities"></div>
		</div>
	</div>

	<div id="page-content-wrapper">
		<div class="page-content inset">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						
						<div class="content-header">
							<h1>
								<span class="title_part1"><TMPL_VAR NAME="title1"></span> <span class="title_part2"><TMPL_VAR NAME="title2"></span>
							</h1>
						</div>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-danger btn-lg" style="position:relative;bottom: -8px;left: 100px;font-weight:bold" onclick="javascript:startIntro();" type="button" id="intro-button">INTRODUCTION</button>
					</div>
				</div>

						<!-- Page Content -->

						
						
