<!DOCTYPE html>

<html>
<head>
    <TMPL_INCLUDE NAME="header2.tmpl">
    <script type="text/javascript">
        var page_name = "groups";
    </script>
</head>
<body style="padding-top:0px">
    <TMPL_INCLUDE NAME="superphy_nav_bar.tmpl">
    <iframe src="https://lfz.corefacility.ca/shiny/supershinyfisher/?CGISESSID=<TMPL_VAR CGISESSID>&superphyuri=199.116.235.70/shiny/data" id="shiFrame" frameborder="0" width="100%" height="2000px" seamless="seamless" scrolling="no"></iframe>
</body>
</html>