<!--HEADER SECTION-->
<div class="row" style="margin:20px 0 20px">
<div class="col-md-12">
	<span class="muted">SNP ID: </span>
</div>
<div class="col-md-12"><h3><TMPL_VAR snpid></h3></div>

<div class="col-md-12" style="border-bottom:#000;border-bottom-width:1px;border-bottom-style:solid"></div>
</div>


<!--ALLELE FREQUENCY SECTION-->
<div class="col-md-12">
<div class="well">

	<div class="row">
		<div class="col-md-12" style="padding-bottom: 30px"><span class="text-info"><strong>Allele Frequency</strong></span></div>
	</div>

	<div class="row">
		<div class="col-md-1">
			<dl class="dl-horizontal">
				<dt>A: </dt>
				<dd><TMPL_VAR a_frequency></dd>
			</dl>
		</div>
		<div class="col-md-1">
			<dl class="dl-horizontal">
				<dt>T: </dt>
				<dd><TMPL_VAR t_frequency></dd>
			</dl>
		</div>
		<div class="col-md-1">
			<dl class="dl-horizontal">
				<dt>G: </dt>
				<dd><TMPL_VAR g_frequency></dd>
			</dl>
		</div>
		<div class="col-md-1">
			<dl class="dl-horizontal">
				<dt>C: </dt>
				<dd><TMPL_VAR c_frequency></dd>
			</dl>
		</div>
		<div class="col-md-1">
			<dl class="dl-horizontal">
				<dt>Indel: </dt>
				<dd><TMPL_VAR gap_frequency></dd>
			</dl>
		</div>
	</div>

</div>
</div>

<!--PANGENOME INFO SECTION-->
<div class="col-md-12">
<div class="well">

	<div class="row">
		<div class="col-md-12" style="padding-bottom: 30px"><span class="text-info"><strong>Pangenome Region Information</strong></span></div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>Pangenome Region ID:</dt>
				<dd>
					<TMPL_VAR pangenomeid>
					<a href='pangenome/info?region=?<TMPL_VAR pangenomeid>'><i class='fa fa-search'></i></a>
				</dd>
			</dl>
		</div>
	</div>

	<TMPL_IF blast_desc>
	<div class="row">
		<div class="col-md-12">
			<dl id="dl-blast" class="dl-horizontal">
				<dt>Top BLAST hit:</dt>
				<TMPL_IF refseq_id>
				<dd>
				<a href="http://www.ncbi.nlm.nih.gov/protein/<TMPL_VAR refseq_id>"><TMPL_VAR blast_id></a> <TMPL_VAR blast_desc>
				</dd>
				<TMPL_ELSE>
				<dd><TMPL_VAR blast_id> - <TMPL_VAR blast_desc></dd>
				</TMPL_IF>
			</dl>
		</div>
	</div>
	</TMPL_IF>

	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>Distribution:</dt>
				<dd>Found in <TMPL_VAR pangenome_present> genomes (absent in <TMPL_VAR pangenome_absent>)</dd>
			</dl>
		</div>
	</div>

	

</div>
</div>

<!--GENOME SECTION
<div class="col-md-12">
<div class="well">

	<div class="row">
		<div class="col-md-12" style="padding-bottom: 30px"><span class="text-info"><strong>Pangenome Region Information</strong></span></div>
	</div>

	<TMPL_IF secondary_dbxrefs>
	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				
				<dt>External IDs:</dt>
				<TMPL_LOOP secondary_dbxrefs>
				<dd>
					<TMPL_IF secondary_dbxref_link>
					<a href='<TMPL_VAR secondary_dbxref_link>'><TMPL_VAR secondary_dbxref></a>
					<TMPL_ELSE>
					<TMPL_VAR secondary_dbxref>
					</TMPL_IF>
				</dd>
				</TMPL_LOOP>
			</dl>
		</div>
	</div>
	</TMPL_IF>

	<TMPL_IF mol_types>
	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt><span class="muted">Genome Type:</dt>
				<TMPL_LOOP mol_types>
				<dd><TMPL_VAR mol_type></dd>
				</TMPL_LOOP>
			</dl>
		</div>
	</div>
	</TMPL_IF>

	<TMPL_IF finisheds>
	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>Closed:</dt>
				<TMPL_LOOP finisheds>
				<dd><TMPL_VAR finished></dd>
				</TMPL_LOOP>
			</dl>
		</div>
	</div>
	</TMPL_IF>

	<TMPL_IF descriptions>
	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>Genome Description:</dt>
				<dd>
					<ol>
						<TMPL_LOOP descriptions>
						<li><TMPL_VAR description></li>
						</TMPL_LOOP>
					</ol>
				</dd>
			</dl>
		</div>
	</div>
	</TMPL_IF>

	<TMPL_IF keywordss>
	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>Keywords:</dt>
				<TMPL_LOOP keywordss>
				<dd>
					<TMPL_VAR keywords>
				</dd>
				</TMPL_LOOP>
			</dl>
		</div>
	</div>
	</TMPL_IF>

</div>
</div>

<div class="col-md-12" id="stx-panel-header">
	<div class="well">
	
	<div class="row">
		<div class="col-md-12" style="padding-bottom: 30px"><span class="text-info"><strong>Stx Subtype</strong></span></div>
	</div>

	<div class="row">	
		<TMPL_INCLUDE NAME="strains_info_stx.tmpl">
	</div>

</div>
-->
</div>
