<div>
    <span class="help-block">
        The genome you have selected has been found to encode the following anti-microbial resistance genes. Click on any of the links to view descriptive information about each gene.
    </span>

    <div class="row">
        <div class="col-md-12">
            <span class="muted">Antimicrobial Resistance Genes: </span>
            <div style="border-bottom:#000;border-bottom-width:1px;border-bottom-style:solid"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="gene-list-wrapper">
                <div class="superphy-table" id="amr-table"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="amr-categories" class="gene-category-wrapper">
            </div>
        </div>
    </div>

</div>