<html>

<h1>TEST PAGE</h1>

<h3>Hello World!</h3>

<TMPL_IF NAME="AUTHEN_STATUS">
	Logged in as <TMPL_VAR NAME="AUTHEN_NAME">.
	<a href="/superphy/home/dispatch.cgi/?authen_logout=1">Logout</a>
<TMPL_ELSE>
	<TMPL_IF NAME="AUTHEN_TIMEOUT">
		Login has expired.
		<a href="/superphy/home/dispatch.cgi/?authen_login=1">Login</a>
	<TMPL_ELSE>
		Not logged in.
		<a href="/superphy/home/dispatch.cgi/?authen_login=1">Login</a>
	</TMPL_IF>
</TMPL_IF>


</html>
