<!DOCTYPE html>
<html>

<head>
	<TMPL_INCLUDE NAME="header2.tmpl">
</head>

<body>

    <TMPL_INCLUDE NAME="superphy_nav_bar.tmpl">

    <div class="container">

        <div class="content-header">
            <h1>
                <span class="title_part1">UPLOAD A </span> <span class="title_part2">GENOME</span>
            </h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p class="text-danger">Genome upload function is currently under construction.</p>

            </div>
        </div>

    </div>

</body>

</html>